<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-briefcase"></span> <strong>Net Assets:</strong> {{netassets}}</h1>
    </div>
    <tabset>
        <tab heading="Assets" popover="Group by Assets" popover-trigger="mouseenter" popover-placement="bottom">

            <div class="col-md-6">
            <nvd3-pie-chart data="data" height="450" showLabels="true" noData="Nothing to show"
                x="xFunction()" y="yFunction()" tooltips="true" labelType="percent" showLegend="true">
                <svg></svg>
            </nvd3-pie-chart>
            <h1 class="chart-title"> Invested Assets </h1>
            </div>

            <div class="col-md-6">
            <nvd3-pie-chart data="data" height="450" showLabels="true" noData="Nothing to show"
                x="xFunction()" y="yFunction()" tooltips="true" labelType="percent" showLegend="true">
                <svg></svg>
            </nvd3-pie-chart>
            <h1 class="chart-title"> Current Assets</h1>
            </div>

        </tab>
        <tab heading="Asset Types" popover="Group by Asset types" popover-trigger="mouseenter" popover-placement="bottom">
            
        </tab>
        <tab heading="Sub Asset Types" popover="Group by Sub Asset types" popover-trigger="mouseenter" popover-placement="bottom">
            
        </tab>
        <tab heading="Risk" popover="Group by Risk types" popover-trigger="mouseenter" popover-placement="bottom">
            
        </tab>
        <tab heading="Update Asset Types" popover="Add/Update/Remove asset types" popover-trigger="mouseenter" popover-placement="bottom">
            
        </tab>
    </tabset>
</div>