<div class="col-md-10 col-md-offset-1 home">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-briefcase"></span> <strong>Net Assets: </strong> {{netassets}}</h1>
    </div>
    <tabset>
        <tab class="cursor" heading="Asset Types" popover="Group by Asset types" popover-trigger="mouseenter" popover-placement="bottom" select="tabselected()">
            <div ng-init="groupingtype='categories'">
                <categories ng-controller="categoriesController"></categories>
            </div>
        </tab>
        <tab class="cursor" heading="Sub Asset Types" popover="Group by Sub Asset types" popover-trigger="mouseenter" popover-placement="bottom" select="tabselected()">
            <div ng-init="groupingtype='subcategories'">
                <subcategories ng-controller="subcategoriesController"></subcategories>
            </div>
        </tab>
        <tab class="cursor" heading="Risk" popover="Group by Risk types" popover-trigger="mouseenter" popover-placement="bottom" select="tabselected()">
            <div ng-init="groupingtype='riskcategories'">
                <riskbasedassets ng-controller="riskbasedassetsController"></riskbasedassets>
            </div>
        </tab>
        <tab class="cursor" heading="Groups" popover="Group by custom grouping" popover-trigger="mouseenter" popover-placement="bottom" select="tabselected()">
            <div ng-init="groupingtype='customgroups'">
                <customgroups ng-controller="customgroupsController" ></custombasedassets>
            </div>
        </tab>
        <tab class="cursor" heading="Assets" popover="Group by Assets" popover-trigger="mouseenter" popover-placement="bottom" select="tabselected()">
            <assets ng-controller="assetsController"></assets>
        </tab>
        <!-- <tab class="cursor" heading="Update Asset Types" popover="Add/Update/Remove asset types" popover-trigger="mouseenter" popover-placement="bottom"> -->

        </tab>
    </tabset>
</div>