<div class="col-md-6">
    <nvd3-pie-chart id="assetsrisksinvested" data="chartdata" height="450" showLabels="true" noData="Nothing to show"
        x="nameFunction()" y="rppuFunction()" tooltips="true" labelType="percent" showLegend="true"
        objectEquality="true" color="colorFunction()" legendcolor="colorFunction()">
        <svg></svg>
    </nvd3-pie-chart>
    <!-- <div class="text-center emptychart" ng-hide="chartdata.length"> <h3><strong>Nothing to show</strong></h3> </div> -->
    <h1 class="chart-title"> Invested Assets </h1>
</div>

<div class="col-md-6">
    <nvd3-pie-chart id="assetsriskscurrent" data="chartdata" height="450" showLabels="true" noData="Nothing to show"
        x="nameFunction()" y="rcppuFunction()" tooltips="true" labelType="percent" showLegend="true"
        objectEquality="true" color="colorFunction()" legendcolor="colorFunction()">
        <svg></svg>
    </nvd3-pie-chart>
    <!-- <div class="text-center emptychart" ng-hide="chartdata.length"> <h3><strong>Nothing to show</strong></h3> </div> -->
    <h1 class="chart-title"> Current Assets</h1>
</div>

<div class="clearfix visible-*"></div>

<div class="row riskrow riskrowtitle">
    <div class="collexp">
        &nbsp;
    </div>
    <input class="cursor collexp risktitle" type="checkbox" name="admin" ng-model="assetchartincludeall" ng-change="selectallassets()">
    <label class="col-md-3 risktitle">
        Risk Type
    </label>
    <label class="col-md-3 risktitle">
        Color
    </label>
</div>
<div ng-repeat="risk in data">
    <div class="cursor row riskrow">
        <div class="collexp">
            <span class="glyphicon glyphicon-chevron-right" ng-hide="data[$index].extra.showassets" ng-click="data[$index].extra.showassets = true" popover="Click to expand" popover-trigger="mouseenter" popover-placement="top"></span>
            <span class="glyphicon glyphicon-chevron-down" ng-show="data[$index].extra.showassets" ng-click="data[$index].extra.showassets = false" popover="Click to collapse" popover-trigger="mouseenter" popover-placement="top"></span>
        </div>
        <input class="cursor collexp" type="checkbox" name="admin" ng-model="risk.extra.chartinclude" ng-change="selectedassets()">
        <label class="col-md-3">
            {{risk.riskname}} Risk
        </label>
        <span class="col-md-1 colorrect" ng-style="{'color': risk.color, 'background-color': risk.color}">
            {{risk.color}}
        </span>
    </div>
    <div class="table-responsive riskassets" ng-show="data[$index].extra.showassets">
        <table class="table table-striped">
            <tr>
                <th class='text-center'><input type="checkbox" name="admin" ng-model="assetchartincludeall" ng-change="selectallassets()"></th>
                <th class='text-center'></th>
                <th class='text-center'>Asset Name</th>
                <th class='text-center'>Date Bought</th>
                <th class='text-center'>Category</th>
                <th class='text-center'>Sub-Category</th>
                <th class='text-center'>Units</th>
                <th class='text-center'>Invested Price Per Unit</th>
                <th class='text-center'>Invested Total</th>
                <th class='text-center'>Current Price Per Unit</th>
                <th class='text-center'>Current Total</th>
                <th class='text-center' colspan="20">Color</th>
            </tr>

            <tr ng-repeat="asset in data[$index].extra.assets">
                <td class='text-center'>
                    <input class="cursor" type="checkbox" name="admin" ng-model="asset.extra.chartinclude" ng-change="selectedchildassets($parent.$index)">
                </td>
                <td class='text-center'>
                    <span ng-hide="asset.extra.editMode">
                        <div class="glyphicon glyphicon-plus col-md-6 btn-link" ng-click="addrow($parent.$index, $index)" popover="Add an asset above" popover-trigger="mouseenter" popover-placement="top"></div>
                        <div class="glyphicon glyphicon-minus btn-link" ng-click="removerow($parent.$index, $index)" popover="Remove this asset" popover-trigger="mouseenter" popover-placement="top"></div>
                    </span>
                    <span ng-show="asset.extra.editMode">
                        <div class="glyphicon glyphicon-ok col-md-6 btn-link ok" ng-click="submitchanges($parent.$index, $index)" popover="Submit the changes" popover-trigger="mouseenter" popover-placement="top"></div>
                        <div class="glyphicon glyphicon-remove btn-link" ng-click="cancelchanges($parent.$index, $index)" popover="Cancel the changes" popover-trigger="mouseenter" popover-placement="top"></div>
                    </span>
                </td>
                <td class='text-center' >
                    <span class="cursor" ng-hide="asset.extra.editMode" popover="{{asset.assetdescription}}" popover-title="Description" popover-trigger="mouseenter" popover-placement="top" ng-click="entereditmode($parent.$index, $index)">
                        {{asset.assetname}}
                    </span>
                    <input type="text" ng-show="asset.extra.editMode" ng-model="asset.extra.copy.assetname" placeholder="Asset name" size="20"/>
                    <textarea type="textarea" ng-show="asset.extra.editMode" ng-model="asset.extra.copy.assetdescription"placeholder="Asset description"></textarea>
                </td>
                <td class='text-center'>
                    <span class="cursor" ng-hide="asset.extra.editMode" ng-click="entereditmode($parent.$index, $index)">
                        {{asset.date}}
                    </span>
                    <input type="text" ng-show="asset.extra.editMode" datepicker-popup="yyyy-MM-dd" ng-model="asset.extra.copy.date" is-open="asset.extra.opened" close-text="Close" size="10"/>
                    <span class="input-group-btn" ng-show="asset.extra.editMode">
                        <button type="button" class="btn btn-default" ng-click="datepickopen($event, $parent.$index, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </td>
                <td class='text-center'>
                    <span class="cursor" ng-hide="asset.extra.editMode" ng-click="entereditmode($parent.$index, $index)" popover="{{asset.extra.riskname}}" popover-title="Risk Associated" popover-trigger="mouseenter" popover-placement="top">
                        {{asset.extra.categoryname}}
                    </span>
                    <input type="text" ng-show="asset.extra.editMode" ng-model="asset.extra.copy.extra.categoryname" typeahead="category.categoryname for category in assetsOtherInfo.categories" placeholder="Asset type" size="14"/>
                </td>
                <td class='text-center'>
                    <span class="cursor" ng-hide="asset.extra.editMode" ng-click="entereditmode($parent.$index, $index)" popover="{{asset.extra.riskname}}" popover-title="Risk Associated" popover-trigger="mouseenter" popover-placement="top">
                        {{asset.extra.subcategoryname}}
                    </span>
                    <input type="text" ng-show="asset.extra.editMode" ng-model="asset.extra.copy.extra.subcategoryname" typeahead="subcategory.subcategoryname for subcategory in assetsOtherInfo.subcategories" placeholder="Asset sub-type" size="14"/>
                </td>
                <td class='text-center'>
                    <span class="cursor" ng-hide="asset.extra.editMode" ng-click="entereditmode($parent.$index, $index)">
                        {{asset.units}} {{asset.unitform}}
                    </span>
                    <input type="text" ng-show="asset.extra.editMode" ng-model="asset.extra.copy.units" size="12"/>
                    <input type="text" ng-show="asset.extra.editMode" ng-model="asset.extra.copy.unitform" placeholder="units (ex. gms)" size="12"/>
                </td>
                <td class='text-center'>
                    <span class="cursor" ng-hide="asset.extra.editMode" ng-click="entereditmode($parent.$index, $index)">
                        {{asset.ppu}}
                    </span>
                    <input type="text" ng-show="asset.extra.editMode" ng-model="asset.extra.copy.ppu" size="12" />
                </td>
                <td class='text-center'>
                    <span class="cursor" ng-click="entereditmode($parent.$index, $index)">
                        {{getppu(data[$parent.$index].extra.assets[$index])}}
                    </span>
                </td>
                <td class='text-center'>
                    <span class="cursor" ng-hide="asset.extra.editMode" ng-click="entereditmode($parent.$index, $index)">
                        {{asset.cppu}}
                    </span>
                    <input type="text" ng-show="asset.extra.editMode" ng-model="asset.extra.copy.cppu" size="12" />
                </td>
                <td class='text-center'>
                    <span class="cursor" ng-click="entereditmode($parent.$index, $index)">
                        {{getcppu(data[$parent.$index].extra.assets[$index])}}
                    </span>
                </td>
                <td class='text-center'>
                    <span class="cursor colorrect" ng-hide="asset.extra.editMode" ng-click="entereditmode($index)" ng-style="{'color': asset.color, 'background-color': asset.color}">
                        {{asset.color}}
                    </span>
                    <input class="colorrect" colorpicker ng-show="asset.extra.editMode" type="text" ng-model="asset.extra.copy.color" ng-style="{'color': asset.extra.copy.color, 'background-color': asset.extra.copy.color}" size="5"/>
                </td>

            </tr>

            <tr>
                <td></td>
                <td class='text-center'>
                    <div class="glyphicon glyphicon-plus col-md-6 btn-link" ng-click="addrow($index, -1)" popover="Add an asset at the end" popover-trigger="mouseenter" popover-placement="top"></div>
                </td>
                <td colspan="20"></td>
            </tr>

        </table>
    </div>
    <div class="clearfix visible-*"></div>
</div>