<div class="col-md-6 col-md-offset-3">

    <!-- PAGE TITLE -->
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-user" ng-show="register"></span><span class="glyphicon glyphicon-tower" ng-show="showUpdateSettings"></span><span class="glyphicon glyphicon-globe" ng-show="setPassword"></span> <span ng-show="register">Register User</span> <span ng-show="showUpdateSettings">Update Settings</span> <span ng-show="setPassword">Set Password</span></h1>
    </div>

    <!-- SHOW ERROR/SUCCESS MESSAGES -->
    <div id="messages" class="well" ng-show="message">{{ message }}</div>
    <div class="alert" ng-class="{'alert-danger' : alertError, 'alert-success' : !alertError}" ng-show="alertMessage">
        <!-- <a class="close" data-dismiss="alert">×</a>  -->
        <strong>{{ alertMessage }}</strong>
    </div>

    <!-- FORM -->
    <form ng-submit="processForm()">
        <!-- NAME -->
        <div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }" ng-show="showUser">
            <label>User Name</label>
            <input type="text" name="name" class="form-control" placeholder="User Name" ng-model="formData.name" ng-disabled="disableUser">
            <span class="help-block" ng-show="errorName">{{ errorName }}</span>
        </div>
        <div id="display-name-group" class="form-group" ng-class="{ 'has-error' : errorDisplayName }">
            <label>Display Name</label>
            <input type="text" name="displayname" class="form-control" placeholder="Display Name" ng-model="formData.displayname" ng-disabled="disableDisplayName">
            <span class="help-block" ng-show="errorDisplayName">{{ errorDisplayName }}</span>
        </div>

        <div id="admin-checkbox" class="form-group" ng-show="register || !currentPassword">
            <label class="checkbox-inline">
                <input type="checkbox" name="admin" ng-model="formData.admin"> Admin access
            </label>
        </div>

        <div id="update-password-checkbox" class="form-group" ng-show="showUpdateSettings">
            <label class="checkbox-inline">
                <input type="checkbox" name="updatePassword" ng-model="updatePassword"> Update Password
            </label>
        </div>

        <div id="current-password-group" class="form-group" ng-class="{ 'has-error' : errorCurrentPassword }" ng-show="updatePassword && currentPassword">
            <label>Current Password</label>
            <input type="password" name="currentpassword" class="form-control" placeholder="Current Password" ng-model="formData.currentpassword">
            <span class="help-block" ng-show="errorCurrentPassword">{{ errorCurrentPassword }}</span>
        </div>

        <div id="set-password-group" ng-show="updatePassword || setPassword || register">
            <div id="password-group" class="form-group" ng-class="{ 'has-error' : errorPassword }">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="formData.password">
                <span class="help-block" ng-show="errorPassword">{{ errorPassword }}</span>
            </div>

            <div id="password-group2" class="form-group" ng-class="{ 'has-error' : errorPassword2 }">
                <label>Type Password Again</label>
                <input type="password" name="password2" class="form-control" placeholder="Type Password Again" ng-model="formData.password2">
                <span class="help-block" ng-show="errorPassword2">{{ errorPassword2 }}</span>
            </div>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-lg btn-block" ng-class="{'btn-info': register, 'btn-warning': showUpdateSettings, 'btn-danger': setPassword}">
        <span class="glyphicon glyphicon-flash"></span> <span ng-show="register">Register!</span> <span ng-show="showUpdateSettings">Update Settings!</span> <span ng-show="setPassword">Set Password!</span>
        </button>
    </form>
</div>